.chart-wrap {
  flex-direction: column;
  border: 1px solid #000000;
  margin-top: 50px;

  .chart {
    margin: 20px;
  }

  .btn-row {
    padding: 0 10px;
    margin-bottom: 20px;
    .btn {
      flex: 1;
      height: 80px;
      margin: 0 10px;
      border-radius: 10px;
      text-align: center;
    }
    .btn-default {
      color: #666666;
      background-color: #eeeeee;
    }
    .btn-reset {
      color: #ffffff;
      background-color: #80848f;
    }
    .btn-primary {
      color: #ffffff;
      background-color: #2d8cf0;
    }
  }

  .config-wrap {
    flex-direction: column;
    .config-item {
      flex-direction: column;
      padding: 20px 0;
      .config-item-title {
        font-size: 40px;
        font-weight: bold;
        margin: 10px 20px;
      }
      .select {
        flex: 1;
        justify-content: space-between;
        margin: 20px 20px;
        font-size: 30px;
        color: #495060;
      }
    }
  }
  .config-btn {
    align-items: center;
    height: 120px;
    padding-top: 20px;
    border-top: 1px solid #666666;
  }
}
